# 이 파일을 복사해서 .env로 이름을 바꾸고 값을 채워주세요.
# PostgreSQL 설정
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_URL=

# Redis 설정
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

# Spring 서버 설정
SERVER_PORT=

# 모니터링 설정
PROMETHEUS_PORT=
LOKI_PORT=
GRAFANA_PORT=
GRAFANA_USER=
GRAFANA_PASSWORD=
GRAFANA_DOMAIN=
GRAFANA_ALLOWED_ORIGINS=

# Minio 설정
MINIO_API_PORT=
MINIO_CONSOLE_PORT=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
APP_STORAGE_URL=
MINIO_BROWSER_REDIRECT_URL=

# JWT 설정
JWT_SECRET=
# Access Token: 30분 (1800000 ms)
JWT_ACCESS_EXPIRATION=
# Refresh Token: 7일 (604800000 ms)
JWT_REFRESH_EXPIRATION=